certifi==2018.8.24
cffi==1.11.5
Click==7.0
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
pandas==0.23.4
pycparser==2.19
pyparsing==2.4.0
python-dateutil==2.7.3
pytz==2019.1
redis==3.2.1
rq==1.1.0
scipy==1.1.0
six==1.11.0
torch==0.4.1
tornado==5.1.1
